@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
    --Red: hsl(0, 100%, 74%); 
    --Green: hsl(154, 59%, 51%);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./images/bg-intro-desktop.png");
    background-color: var(--Red);
}

.main-wrapper {
    max-width: 1110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-side {
    width: 50%;
    margin-right: 15px;
}

.right-side {
    width: 50%;
    margin-left: 15px;
}

.left-side h1 {
    line-height: 1.1;
    max-width: 421px;
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.left-side p {
    font-size: 16px;
    color: white;
    margin-top: 30px;
    max-width: 495px;
    line-height: 1.5;
}


.right-side .heading {
    background-color: var(--Blue);
    color: white;
    text-align: center;
    padding: 20px 0px;
    border-radius: 10px;
    margin-bottom: 20px;
}

form {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
}

input {
    padding: 25px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid var(--Grayish-Blue);
    font-weight: 700;
    font-size: 15px;
    outline-color: var(--Dark-Blue);
}